.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
}

.envelopes-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.document-section h2,
.envelope-section h2 {
  padding-bottom: 20px;
  text-align: center;
}

.documents-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin: 20px 0;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(90deg, #7bf080, #b5e65a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.circle p {
  font-size: 0.9rem;
  margin: 0;
}

.profile-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.profile img {
  width: 50px;
}

@media (max-width: 320px) {
  .stats {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .circle {
    width: 100px;
    height: 100px;
  }

  .circle p {
    font-size: 0.8rem;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile img {
    width: 40px;
  }
}

@media (max-width: 410px) {
  .stats {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .circle {
    width: 120px;
    height: 120px;
  }

  .circle p {
    font-size: 0.8rem;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile img {
    width: 40px;
  }
}
